<h1><%= @song.title %></h1>
<hr/>
<br/>
<%= link_to 'Artists', song_artists_path(@song), class: "ui primary button inverted" %>
<br/>
<br/>
<br/>
<%= link_to "Delete Song", @song, method: :delete, class: "ui red button inverted" %>